# Python bytecode
__pycache__/
**/__pycache__/
*.pyc
*.py[cod]
*$py.class

# Backup files
*~

# Virtual environments
env/
venv/
ENV/
.venv/

# Django SQLite database
*.sqlite3

# Environment variables
*.env
.env.*

# IDE settings
.vscode/
.idea/
*.iml

# pip files
pip-log.txt
pip-delete-this-directory.txt

# Static and media files
/staticfiles/
/media/

# Migrations cache
*/migrations/__pycache__/
/migrations/*.pyc
# Uncomment below to ignore all migration files
# */migrations/*.py

# Static build output
static/

# Test and coverage
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db

__pycache__/
*.pyc
